/*
Set attributes based on class 'cell'
    Set to flexbox
    Set to take up entire space

Set attributes of button
    Center button at top of page
*/

body
{
    text-align: center;
}

:root
{
    --grid-columns: 1;
    --grid-rows: 1;
}

#gridContainer
{
    display: grid;
    grid-gap: 0em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    max-height: 900px;
    min-height: 900px;
    max-width: 900px;
    min-width: 900px;
    overflow: hidden;
}

.cell
{
    padding: 5px;
    border: 1px solid#ddd;
    text-align: center;
}